.shop-banner{
    display: block;
    margin: 30px auto;
    width: 80%;
}

.indexsort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.all-prod{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.load-more{
    display: flex;
    margin-top: 30px;
    margin: 150px auto;
    align-items: center;
    justify-content: center;
    border: none;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: grey;
    font-size: 16px;
    color : white;
    cursor: pointer;
}